<!DOCTYPE html > 
<html xmlns:th="http://www.thymeleaf.org">
   
<head>
    <meta charset="UTF-8">
   
    <title>Tienda Tec</title>
</head>
<body>
    <h1>Hola</h1>
    <a th:href="@{/agregar}">Agregar Persona</a>
    <div if="${empleados != null and !empleados.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>    
                <th>Cedula</th>
                <th>Correo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr each="empleado : ${empleados}">
                <td text="${empleado.nombre}">Mostrar Nombre</td>
                <td text="${empleado.apellido}">Mostrar Apellido</td> 
                <td text="${empleado.cedula}">Mostar Cedula</td>
                <td text="${empleado.correo}">Mostar Correo</td>
                <td >  <a th:href="@{/editar} + ${empleado.id}" th:text="Editar"></a> </td>
                <td >  <a th:href="@{/eliminar (id=${empleado.id})}" th:text="Eliminar"></a> </td>
            </tr>
        </table>
    </div>
    <div >
        Lista Vacia
    </div>
</body>
</html>